@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: #000;
    border-color: #3b3b3b;
    user-select: none;
  }

  canvas {
    touch-action: none;
  }
  
  .screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }

  .bg-dark-green-mesh-gradient {
    background-image: radial-gradient(circle, #013220 0%, #024b30 100%);
  }

  @layer utilities {
    .nav-height {
      @apply h-[calc(100vh-60px)]
    }
    .btn_white { 
      @apply  border-white bg-yellow-500 px-8 py-3 text-green-900
    }
    .btn_white_text  { 
      @apply  border-white bg-white px-8 py-3 text-gray-900
    }
    .btn_green  { 
      @apply  border-green-500 bg-green-500 px-8 py-5 text-white
    }
    .btn_dark_green { 
      @apply  bg-green-900 px-8 py-4 text-white transition-all hover:bg-black
    }
    .btn_dark_green_outline  { 
      @apply border-gray-200 bg-green-900 px-8 py-5 text-white
    }
  }